span.vote-count {
  float: right;
  margin: 0 -12px 0 8px;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  text-align: center;
  background-color: #00bfa5;
  color: #fff;
}

.view-results {
	width: 100%;
}

.card-content {
	/*height: 250px;*/
}

.row {
	margin-bottom: 0px;
}